<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        body { margin: 0 auto; padding: 5px; width: 900px;}
        h1 { width: 900px; height: 50px; text-align: center; padding: 5px;}
        div {width: 250px; height: 250px; border: 2 solid black; background-color: rgb(20, 159, 201); padding: 10px;}
        #squares {width: 900px; display: inline-flex; align-content: center; justify-content: space-between; background-color: white;}
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div id=squares>
        <div></div>
        <div></div>
        <div></div>
    </div>
    
</body>
</html>